[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
numpy = "*"
matplotlib = "*"
jax = "*"
cmasher = "*"
tqdm = "*"
jaxlib = "*"
heat = "*"
vpython = "*"

[dev-packages]

[requires]
python_version = "3.10"
